:root {
    /* Primary */
    --green-500: hsl(158, 36%, 37%);
    --green-700: hsl(158, 42%, 18%);

    /* Neutral */
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}